$primaryColor100: #fff3d0;
$primaryColor200: #c41a00;
$primaryColor300: #317a1f;
$secondaryColor100: #ae9e6f;
$secondaryColor150: #867a55;
$secondaryColor200: #530a02;
$secondaryColor300: #230201;

$primaryFont: 'Seymour One', sans-serif;
$secondaryFont: 'Istok Web', sans-serif;
