@import 'reset.scss';
@import 'variables.scss';

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $primaryColor100;
  font-family: $secondaryFont;

  button {
    cursor: pointer;
  }
}

.scroll-disabled {
  overflow-y: hidden;
  max-height: 100vh;
}
